body{
  width:100%;
  margin-bottom:20px;
}

.App{
  display:flex;
}
.App > *{
  width:50%;

}
form{
  width:90%;
  margin:auto;
  display:flex;
  flex-direction: column;
  
}
form input{
  height:30px;
  border-radius:5px;
  border:1px solid black;
}
.display{
  background-color:#eee;
 
}

.general-info{
  display:flex;
  justify-content:space-between;
  background-color:black;
  color:white;
  padding-left:10px;
  padding-right:10px;
}
.display h1{
  padding-left:10px;
  padding-right:10px;
  
}
.edu{
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
}
.edu h3,h5,h4{
  margin:10px auto;
}
.exp{
  padding-left: 10px;
  padding-right: 10px;
  text-transform:capitalize;
}
button{
  background-color:#007bff;
  border-radius:5px;
  width:50px;
  text-align:center;
  border:1px solid black;
  color:white;


}
.skills{
  display:flex;
  flex-wrap:wrap;
  padding-left: 10px;
  padding-right: 10px;

}
.skill{
  background-color:white;
  padding:5px;
  border-radius:5px;
  margin-right:10px;
}